<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.map_movil.map_movil">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.login.LoginActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_menu"
            android:theme="@style/AppTheme" />
        <activity android:name=".view.login.ChangePasswordActivity" />
        <activity android:name=".view.solicitudes.ShowAddSolicitudActivity" />
        <activity
            android:name=".view.reportes.ReportCircularActivity"
            android:label="@string/title_activity_grafico"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.reportes.ReportBarActivity"
            android:label="@string/title_activity_grafico"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.validar_hogares.ValidarNucleoActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme" />
        <activity android:name=".view.informacionHogares.HistorialPagoActivity" />
        <activity android:name=".view.informacionHogares.ActualizacionesNoAplicadasHogarActivity" />

        <receiver
            android:name=".broadcasts.BroadCastInternet"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".broadcasts.BroadCastDate"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".view.Quejas.NuevaQuejaActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme" />

        <service android:name=".api.notificacion.FirebaseNotification">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <activity android:name=".view.reportes.ReportCircularDepartamentoActivity"></activity>
    </application>

</manifest>